.bck-body{
    background-color: #B91450;
}
.fixd
{
    position: fixed;
    top: 0%;
    z-index: 1;
    right: 0%;
    left: 0%;
}
.bg-hdr{
    background-color: #A6160A;
}
.clr-main{
   color: #B91450;
}
.clr-main-bder{
    border-color: #B91450;
 }

.bder{
    border-radius:5px;
}
.bder-qr{
    border: 5px solid rgb(255, 196, 0);
}
.bder-qr1{
    border-bottom: 1px solid rgb(9, 231, 76) ;
}